<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Typical service workflow</h2>
                    <h3 class="section-subheading text-muted">How we usually work. The process is crystal clear at every step. The workflow could vary depending on your needs and other constraints.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1request_ed.jfif" alt="">            
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 1</h4>
                                    <h4 class="subheading">Receive a request from you</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2connectandanalyze_ed.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 2</h4>
                                    <h4 class="subheading">Contact with you and explore your use case</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">explore data</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3makinghyporeports_ed.jfif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 3</h4>
                                    <h4 class="subheading">Making hypotesis, pre-reports, recommendations, implementation proposals</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We propose how we could help you by adding analytics features or make a more deep insight reports. You decide what is more valuable for you now. We provide the development plan and pricing.</p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Yes/No Phase</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We propose how we could help you by adding analytics features or make a more deep insight reports. You decide what is more valuable for you now. We provide the development plan and pricing.</p>
                                </div>
                            </div>
                        </li> -->
                        
                        <li>
                            <div class="center_line_text">
                                <span>
                                    YES/NO Decision Point
                                </span>
                                
                            </div>                            
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4implement_ed.jfif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 4</h4>
                                    <h4 class="subheading">Implementation Phase</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We start working at the approved solution implementation. It could be application/service or data report.</p>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5integration2_ed.jfif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 5</h4>
                                    <h4 class="subheading">Integration Phase</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">When the development is ready it is time to integrate to the predefined production or preproduction environment. Also it is possible to setup CI/CD options depending on your infrastructure.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6support1_ed.jfif" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Step 6</h4>
                                    <h4 class="subheading">Hosting/Support</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are sure in our development, so we are ready to support and host the developed analytics solutions on our platform if applicable.</p>
                                </div>
                            </div>
                        </li>

                        <li >
                            <div class="timeline-image">
                                <h4>Your 
                                    <br>Business
                                    <br>Is Growing!
                                    </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>