<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <!-- <h3 class="section-subheading text-muted">We will extend your business with cutting-edge analytics. 
                        <br/>No code or analytical skills required. 
                        <br/>Your product or service is ready to enter AI era.
                    </h3> -->
                    <!-- <h3 class="section-subheading text-muted">
                        We make your business benefit from your data
                    </h3> -->
                    <h3 class="section-subheading text-muted">
                        
                    </h3>

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Consultancy</h4>
                    <p class="text-muted">Our experts will check your data and give insights and recommendations on your product functionality extension. Get the new customers, refactor the payment plans by providing more to your users.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytics Development and Hosting</h4>
                    <p class="text-muted">We will develop end-to-end data analytics solution including architecture, integration, hosting plan exclusively for your use-case. Any complexity, any volume - any analytics.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Analytic Reports</h4>
                    <p class="text-muted">Nothing could speak for the data better than well-constructed report. You will get the multiple pages with statistics, graphs, charts and other visualizations describing your data in human-readable format.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">[New] Analytics Cloud API</h4>
                    <p class="text-muted">We provide easy integratable Analytics HTTP API for your application. All the calculations are processed by our elastic cloud as a service. You do not care about resources and algorithms complexity.</p>
                </div>
            </div>
        </div>
    </section>